<form [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">
    <input type="text" class="form-control" formControlName="searchTerm" placeholder="Entrez votre recherche..."/>
    <p>
        <input type="radio" value="refSearch" formControlName="criteria"> Référence
        <input type="radio" value="labelSearch" formControlName="criteria"> Label
        <input type="radio" value="less100Search" formControlName="criteria"> -100€
        <input type="radio" value="more100Search" formControlName="criteria"> +100€
    </p>
</form>

<app-products-list [(productsList$)]="productsList$"></app-products-list>
